* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background: #161616 url("../images/doted_black.png");
}

/* ////////////////////////////       Navbar Section   //////////////////////////////// */

.navbar{
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.navbar-brand{
    font-size: 1.46rem;
}

.navbar a{
    color: rgba(255, 255, 255, 0.8);
}

.nav-item a{
    font-size: 1.2rem;
}

.dropdown-menu{
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

.my-navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    font-size: calc(0.8vw + 0.8vh + 0.4vmin);
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(0.8vw + 0.8vh + 0.4vmin);
}

.my-navbar ul{
    margin-bottom: 0;
}

.my-nav-links,
.logo {
    color: rgba(255, 255, 255, 0.8);
}

a.my-nav-links:hover{
    text-decoration: none;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
}

.nav-button{
    float: right;
    position: relative;
    top: 2px;
    right: 30px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
}

.nav-button span{
    background: #FFFFFF;
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.nav-button span:nth-child(2){
    top: 10px;
}

.nav-button span:nth-child(3){
    top: 20px;
}

.main-nav {
    display: block;
    margin-right: 30px;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.main-nav li {
    margin: 0;
}

.my-nav-links {
    margin-left: calc(1.6vw + 1.6vh + 0.8vmin);
}

.logo {
    margin-top: 0;
}

.logo:hover,
.my-nav-links:hover {
    color: rgba(255, 255, 255, 1);
}

/* ////////////////////////////       Posts Section   //////////////////////////////// */

.posts{
    margin: 100px 20px 0 20px;
}

.posts h1{
    color: #FFFFFF;
    /*font-size: calc(1.5vw + 1.5vh + 0.75vmin);*/
    font-size: 2.25em;
}

.add-post-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: auto;
    -moz-transition: all 2.5s ease;
    -o-transition: all 2.5s ease;
    -webkit-transition: all 2.5s ease;
    transition: all 2.5s ease;
}

.card h2{
    font-size: calc(1.2vw + 1.2vh + 0.6vmin);
}
.card p{
    font-size: calc(0.6vw + 0.6vh + 0.3vmin);
    overflow: hidden;
}
.card small{
    font-size: calc(0.48vw + 0.48vh + 0.24vmin);
}

.card button{
    font-size: calc(0.6vw + 0.6vh + 0.3vmin);
    padding: calc(0.22vw + 0.22vh + 0.11vmin) 3px;
}
.date{
    color: #3f9ae5;
}

.post-footer-middle{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.post-footer-middle form{
    min-width: 40%;
}

.post-footer-middle button{
    width: 100%;
}

.post-footer-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post-footer-left{
    display: flex;
    align-items: center;
}

.post-footer-left form,.post-footer-right form{
    display: inline-flex;
}

.post-footer-right form:first-child{
    margin-right: 5px;
}

.post-footer-right form:nth-child(2){
    margin-left: 5px;
}

.post-footer-right button{
    padding: 0.3125em 15px;
    /*padding: 0.3125em 0.9375em;*/
}

/* ////////////////////////////       Post details Section   //////////////////////////////// */

.post{
    text-align: left;
    width: 50%;
}

.post-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post h2{
    font-size: calc(1.4vw + 1.4vh + 0.7vmin);
}
.post p{
    font-size: calc(0.7vw + 0.7vh + 0.35vmin);
}
.post small{
    font-size: calc(0.5vw + 0.5vh + 0.25vmin);
}

.post .category-span,.posts .category-span{
    cursor: pointer;
    font-size: calc(0.7vw + 0.7vh + 0.35vmin);
    /*font-weight: bold;*/
    padding: 3px 20px;
    justify-content: flex-end;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #007e90;
    color: #ffffff;
}

.post-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.post-desc{
    margin-top: 0.75em;
}

/* ////////////////////////////       Add Post Section   //////////////////////////////// */
.post-new{
    text-align: left!important;
}

.post-new .card{
    height: fit-content!important;
}

.category-group input[type=radio]{
    position: absolute;
    display: none;
    visibility: hidden;
}
.category-group label{
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    max-width: 90%;
}

.category-group input[type=radio]:checked + label{
    color: #FFFFFF;
    background: #007e90;
}

/* ////////////////////////////       Categories Section   //////////////////////////////// */

.categories{
    margin: 100px 20px 0 20px;
}

.categories h1{
    color: #FFFFFF;
    font-size: 2.25em;
}

.title-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories .card{
    height: min-content;
}

.categories .card h2{
    text-align: center;
}

.categories .card .btn{
    width: 100%;
}

/*.categories .card form{*/
    /*margin-bottom: 10px;*/
/*}*/

.categories .choice .save-button{
    margin-right: 5px;
}

.categories .choice .cancel-button{
    margin-left: 5px;
}

.edit-form{
    margin-bottom: 5px;
}

.edit-form input{
    width: 100%;
    margin-bottom: calc(0.5vw + 0.5vh + 0.25vmin);
}

.form1{
    margin-top: 10px;
    margin-bottom: 5px;
}

.form2{
    margin-top: 5px;
}

.choice{
    display: none;
}

.categories .card-new input{
    /*height: 2.4em;*/
    height: calc(1.4vw + 1.4vh + 0.7vmin);
    margin-bottom: 0.5rem;
    width: 100%;
}

.card-new{
    display: none;
}

.categories .card-new form{
    margin-bottom: 0;
}

#cancel-button-0{
    margin-top: 5px;
}

.no-cats{
    padding-left: 15px;
    padding-right: 15px;
}

/* ////////////////////////////       AdminDashboard Home details Section   //////////////////////////////// */

.stats{
    margin: 100px 20px 0 20px;
    color: #FFFFFF;
}

.stats a{
    cursor: pointer;
    text-decoration: none;
}

.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 100px;
    display: flex;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 18px;}
.info-box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 80px; }
.info-box .icon i {
    color: #fff;
    font-size: 52px;
    line-height: 80px;
}
.info-box .icon .chart.chart-bar {
    height: 100%;
    line-height: 100px; }
.info-box .icon .chart.chart-bar canvas {
    vertical-align: baseline !important; }
.info-box .icon .chart.chart-pie {
    height: 100%;
    line-height: 123px; }
.info-box .icon .chart.chart-pie canvas {
    vertical-align: baseline !important; }
.info-box .icon .chart.chart-line {
    height: 100%;
    line-height: 115px; }
.info-box .icon .chart.chart-line canvas {
    vertical-align: baseline !important; }
.info-box .content {
    display: inline-block;
    padding: 14px 10px; }
.info-box .content .text {
    font-size: 19px;
    margin-top: 11px;
 }
.info-box .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
}

.info-box.hover-zoom-effect .icon {
    overflow: hidden; }
.info-box.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.info-box.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -moz-transform: rotate(-32deg) scale(1.4);
    -ms-transform: rotate(-32deg) scale(1.4);
    -o-transform: rotate(-32deg) scale(1.4);
    -webkit-transform: rotate(-32deg) scale(1.4);
    transform: rotate(-32deg) scale(1.4); }

.info-box.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 80px;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.info-box.hover-expand-effect:hover:after {
    width: 100%; }

.info-box-2 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px; }
.info-box-2 .icon {
    display: inline-block;
    text-align: center;
    width: 80px; }
.info-box-2 .icon i {
    color: #fff;
    font-size: 50px;
    line-height: 80px; }
.info-box-2 .chart.chart-bar {
    height: 100%;
    line-height: 105px; }
.info-box-2 .chart.chart-bar canvas {
    vertical-align: baseline !important; }
.info-box-2 .chart.chart-pie {
    height: 100%;
    line-height: 123px; }
.info-box-2 .chart.chart-pie canvas {
    vertical-align: baseline !important; }
.info-box-2 .chart.chart-line {
    height: 100%;
    line-height: 115px; }
.info-box-2 .chart.chart-line canvas {
    vertical-align: baseline !important; }
.info-box-2 .content {
    display: inline-block;
    padding: 7px 10px; }
.info-box-2 .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555; }
.info-box-2 .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555; }

.info-box-2.hover-zoom-effect .icon {
    overflow: hidden; }
.info-box-2.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.info-box-2.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -moz-transform: rotate(-32deg) scale(1.4);
    -ms-transform: rotate(-32deg) scale(1.4);
    -o-transform: rotate(-32deg) scale(1.4);
    -webkit-transform: rotate(-32deg) scale(1.4);
    transform: rotate(-32deg) scale(1.4); }

.info-box-2.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s; }

.info-box-2.hover-expand-effect:hover:after {
    width: 100%; }

.info-box-3 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px; }
.info-box-3 .icon {
    position: absolute;
    right: 10px;
    bottom: 2px;
    text-align: center; }
.info-box-3 .icon i {
    color: rgba(0, 0, 0, 0.15);
    font-size: 60px; }
.info-box-3 .chart {
    margin-right: 5px; }
.info-box-3 .chart.chart-bar {
    height: 100%;
    line-height: 50px; }
.info-box-3 .chart.chart-bar canvas {
    vertical-align: baseline !important; }
.info-box-3 .chart.chart-pie {
    height: 100%;
    line-height: 34px; }
.info-box-3 .chart.chart-pie canvas {
    vertical-align: baseline !important; }
.info-box-3 .chart.chart-line {
    height: 100%;
    line-height: 40px; }
.info-box-3 .chart.chart-line canvas {
    vertical-align: baseline !important; }
.info-box-3 .content {
    display: inline-block;
    padding: 7px 16px; }
.info-box-3 .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555; }
.info-box-3 .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555; }

.info-box-3.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.info-box-3.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -moz-transform: rotate(-32deg) scale(1.4);
    -ms-transform: rotate(-32deg) scale(1.4);
    -o-transform: rotate(-32deg) scale(1.4);
    -webkit-transform: rotate(-32deg) scale(1.4);
    transform: rotate(-32deg) scale(1.4); }

.info-box-3.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s; }

.info-box-3.hover-expand-effect:hover:after {
    width: 100%; }

.info-box-4 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px; }
.info-box-4 .icon {
    position: absolute;
    right: 10px;
    bottom: 2px;
    text-align: center; }
.info-box-4 .icon i {
    color: rgba(0, 0, 0, 0.15);
    font-size: 60px; }
.info-box-4 .chart {
    margin-right: 5px; }
.info-box-4 .chart.chart-bar {
    height: 100%;
    line-height: 50px; }
.info-box-4 .chart.chart-bar canvas {
    vertical-align: baseline !important; }
.info-box-4 .chart.chart-pie {
    height: 100%;
    line-height: 34px; }
.info-box-4 .chart.chart-pie canvas {
    vertical-align: baseline !important; }
.info-box-4 .chart.chart-line {
    height: 100%;
    line-height: 40px; }
.info-box-4 .chart.chart-line canvas {
    vertical-align: baseline !important; }
.info-box-4 .content {
    display: inline-block;
    padding: 7px 16px; }
.info-box-4 .content .text {
    font-size: 13px;
    margin-top: 11px;
    color: #555; }
.info-box-4 .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555; }

.info-box-4.hover-zoom-effect .icon i {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.info-box-4.hover-zoom-effect:hover .icon i {
    opacity: 0.4;
    -moz-transform: rotate(-32deg) scale(1.4);
    -ms-transform: rotate(-32deg) scale(1.4);
    -o-transform: rotate(-32deg) scale(1.4);
    -webkit-transform: rotate(-32deg) scale(1.4);
    transform: rotate(-32deg) scale(1.4); }

.info-box-4.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s; }

.info-box-4.hover-expand-effect:hover:after {
    width: 100%; }

.bg-pink {
    background-color: #E91E63 !important;
    color: #fff;
}

.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff;
}

.bg-light-green{
    background-color: #8BC34A !important;
    color: #fff;
}
.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}
.activities{
    margin-top: 30px;
    color: #FFFFFF;
}
.activities-wrapper{
    color: #1b1e21;
    padding: 25px;
    border: 1px solid #82949a;
    border-radius: 3px;
    background-color: #f5f8fa;
}
.activities h2{
    font-weight: bold;
}
.activities .date{
    text-align: right;
}


/* ////////////////////////////       Media Queries Section   //////////////////////////////// */


@media screen and (max-width: 1013px) {
    .card-body{
        padding: 0.75rem;
    }
}

@media screen and (max-width: 880px) {
    li.nav-item.dropdown{
        margin-left: 0!important;
    }
}

@media screen and (max-width: 768px) {

    .post{
        width: fit-content;
    }
    .dropdown-menu{
        margin-left: 0!important;
    }
    .left-of-nav{
        display: none;
    }
    .card h2{
        margin-bottom: 0;
    }
    .card p{
        margin-bottom: 0.5rem;
    }
    .categories .card-new input{
        height: auto;
        margin-bottom: 0.2rem;
    }
    #cancel-button-0 {
        margin-bottom: 5px;
    }
    .categories .card-new .form1{
        margin-top: 7px;
    }
}
@media screen and (max-width: 560px) {
    .posts h1 {
        text-align: center;
    }
    .categories .card-new input{
        height: auto;
        margin-bottom: 0;
    }
}